body {
    padding: 8px 160px 0 160px;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 24px);
    gap: 16px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}